body{
	font-family: "montserrat";
	background: #32cdc6;
}

*#title{
	background-color: #ff4c68;
	color: #fff;
}
.container-fluid{
	padding: 3% 20%;
}


h1{
	font-family: "montserrat-black";
	font-size: 3.5rem;
	line-height: 1.5;
	text-align: center;
}
button{
	margin-left: 5rem;
	border-radius: 10px;
}

.h3{
	font-family: "montserrat-bold";
	font-size: 1.5rem ;
}

.navbar{
	padding: 0 0 4.5rem;
}
.nav-item{
	padding: 0 18px;
}

*nav-link{
	font-size: 1.2rem;
	font-family: "montserrat-light";
}

.download-button{
	margin: 5% 3% 5% 0;
}

*title-image{
	width: 60%;
	transform:rotate(25deg) ;

}

*#features{
	padding: 3% 20%;
}


.feature-box{
	text-align: center;
}

.icon{
	color: #6f6f91;
	margin-bottom: irem;
}
.pricing{
   padding-block: 1rem;
	background: pink;
	
}
.testimonials{
	text-align: center;
	margin-left: 20px;
}
.press{
	text-align: center;
	padding-top: 1rem;
}
footer{
	text-align: center;
	font-size: 2rem;
}